           <form action="/check" method="post" class="game-form">
              <div class="form-group text-center">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" name="breaker_code" placeholder="Enter your guess..." pattern="^[1-6]{4}$" autofocus
                        required>
                      <small id="gameHelp" class="form-text text-muted">You should enter 4 digit from range 1..6</small>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary btn-block">Check guess</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>