            <div class="table-log-wrapper text-center">
              <h5>Remaining attempts: 7</h5>
              <table class="table table-striped  text-center">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Your guess</th>
                    <th scope="col">Result of your guess</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>1234</td>
                    <td>++-</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>1245</td>
                    <td>+++</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>1246</td>
                    <td>++++</td>
                  </tr>
                </tbody>
              </table>
            </div>