<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form action="/" method="post" name="login-form" class="text-center" id="login-form">
      <div class="form-group">
        <input type="text" name = "player" class="form-control" placeholder="Input your name:" autofocus required >
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Start a new game">
      </div>
    </form>
  </div>
</div>